/* File: src/index.css */

@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: DM Sans, sans-serif;
  --font-mono: IBM Plex Mono, monospace;
  --font-serif: Lora, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);
  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);
  --color-secondary-1000: var(--secondary-1000);
}
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.3588 0.1354 278.6973);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3588 0.1354 278.6973);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3588 0.1354 278.6973);
  --primary: oklch(0.6056 0.2189 292.7172);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9618 0.0202 295.1913);
  --secondary-foreground: oklch(0.4568 0.2146 277.0229);
  --muted: oklch(0.9691 0.0161 293.7558);
  --muted-foreground: oklch(0.5413 0.2466 293.009);
  --accent: oklch(0.9319 0.0316 255.5855);
  --accent-foreground: oklch(0.4244 0.1809 265.6377);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9299 0.0334 272.7879);
  --input: oklch(0.9299 0.0334 272.7879);
  --ring: oklch(0.6056 0.2189 292.7172);
  --chart-1: oklch(0.6056 0.2189 292.7172);
  --chart-2: oklch(0.5413 0.2466 293.009);
  --chart-3: oklch(0.4907 0.2412 292.5809);
  --chart-4: oklch(0.432 0.2106 292.7591);
  --chart-5: oklch(0.3796 0.1783 293.7446);
  --sidebar: oklch(0.9691 0.0161 293.7558);
  --sidebar-foreground: oklch(0.3588 0.1354 278.6973);
  --sidebar-primary: oklch(0.6056 0.2189 292.7172);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9319 0.0316 255.5855);
  --sidebar-accent-foreground: oklch(0.4244 0.1809 265.6377);
  --sidebar-border: oklch(0.9299 0.0334 272.7879);
  --sidebar-ring: oklch(0.6056 0.2189 292.7172);
  --font-sans: Manrope, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.13;
  --shadow-color: hsl(255 86% 66%);
  --shadow-2xs: 0px 0px 10px 0px hsl(255 86% 66% / 0.07);
  --shadow-xs: 0px 0px 10px 0px hsl(255 86% 66% / 0.07);
  --shadow-sm:
    0px 0px 10px 0px hsl(255 86% 66% / 0.13),
    0px 1px 2px -1px hsl(255 86% 66% / 0.13);
  --shadow:
    0px 0px 10px 0px hsl(255 86% 66% / 0.13),
    0px 1px 2px -1px hsl(255 86% 66% / 0.13);
  --shadow-md:
    0px 0px 10px 0px hsl(255 86% 66% / 0.13),
    0px 2px 4px -1px hsl(255 86% 66% / 0.13);
  --shadow-lg:
    0px 0px 10px 0px hsl(255 86% 66% / 0.13),
    0px 4px 6px -1px hsl(255 86% 66% / 0.13);
  --shadow-xl:
    0px 0px 10px 0px hsl(255 86% 66% / 0.13),
    0px 8px 10px -1px hsl(255 86% 66% / 0.13);
  --shadow-2xl: 0px 0px 10px 0px hsl(255 86% 66% / 0.33);
  --tracking-normal: 0.025em;
  --spacing: 0.27rem;
}

.dark {
  --background: oklch(0.245 0.018 264);
  --foreground: oklch(0.955 0.015 272);
  --card: oklch(0.295 0.022 266);
  --card-foreground: oklch(0.955 0.015 272);
  --popover: oklch(0.295 0.022 266);
  --popover-foreground: oklch(0.955 0.015 272);
  --primary: oklch(0.6056 0.2189 292.7172);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.335 0.024 267);
  --secondary-foreground: oklch(0.955 0.015 272);
  --muted: oklch(0.305 0.02 266);
  --muted-foreground: oklch(0.805 0.018 270);
  --accent: oklch(0.62 0.14 282);
  --accent-foreground: oklch(0.97 0.01 272);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.39 0.03 268);
  --input: oklch(0.39 0.03 268);
  --ring: oklch(0.6056 0.2189 292.7172);
  --chart-1: oklch(0.74 0.13 292);
  --chart-2: oklch(0.6056 0.2189 292.7172);
  --chart-3: oklch(0.66 0.16 293);
  --chart-4: oklch(0.59 0.17 292);
  --chart-5: oklch(0.52 0.14 292);
  --sidebar: oklch(0.255 0.02 264);
  --sidebar-foreground: oklch(0.955 0.015 272);
  --sidebar-primary: oklch(0.6056 0.2189 292.7172);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.62 0.14 282);
  --sidebar-accent-foreground: oklch(0.97 0.01 272);
  --sidebar-border: oklch(0.39 0.03 268);
  --sidebar-ring: oklch(0.6056 0.2189 292.7172);
  --font-sans: Manrope, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 0px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.13;
  --shadow-color: hsl(229 23% 12%);
  --shadow-2xs: 0px 0px 10px 0px hsl(229 23% 12% / 0.07);
  --shadow-xs: 0px 0px 10px 0px hsl(229 23% 12% / 0.07);
  --shadow-sm:
    0px 0px 10px 0px hsl(229 23% 12% / 0.13),
    0px 1px 2px -1px hsl(229 23% 12% / 0.13);
  --shadow:
    0px 0px 10px 0px hsl(229 23% 12% / 0.13),
    0px 1px 2px -1px hsl(229 23% 12% / 0.13);
  --shadow-md:
    0px 0px 10px 0px hsl(229 23% 12% / 0.13),
    0px 2px 4px -1px hsl(229 23% 12% / 0.13);
  --shadow-lg:
    0px 0px 10px 0px hsl(229 23% 12% / 0.13),
    0px 4px 6px -1px hsl(229 23% 12% / 0.13);
  --shadow-xl:
    0px 0px 10px 0px hsl(229 23% 12% / 0.13),
    0px 8px 10px -1px hsl(229 23% 12% / 0.13);
  --shadow-2xl: 0px 0px 10px 0px hsl(229 23% 12% / 0.33);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dark .echarts-for-react {
  background-color: var(--card);
}

.bg-card {
  background-color: var(--card);
}
